body {
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}
.card {
    position: relative;
    width: 250px;
    padding: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    
}
.card.discount {
    background: #FFD700;
}
.card img {
    width: 100%;
    max-height: 120px;
    object-fit: contain;
  
    
}
.price {
    font-size: 35px;
    font-weight: bold;
    color: #b22222;
    display: flex;
    justify-content: right;
    margin: 1%;

}
.old-price {
    text-decoration: line-through;
    color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin: 1%;
    

}
.discount-badge {
    position: absolute;
    top: -10px;
    left: -10px;
    background: #a52a2a;
    color: white;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(-33deg);
}
.cart-icon {
    position: absolute;
    bottom: -10px;
    left: -10px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    text-align: left;
    color: darkgrey;
}
h3 {
  text-align: left;
    
}